.radios {
    text-wrap: nowrap;
    width: max-content;
}


.label-radio {
    margin-left: 160px;
}


form {
    position: absolute;
    top: 200px;
    left: 130px;
    margin: 0;
}



label[for="imagem-vacina"] {
    margin-left: -85px;
    text-align: left;
    text-wrap: nowrap;
}

label[for="data-vacina"] {
    margin-left: -18px;
    text-align: left;
    text-wrap: nowrap;
}




input[type="file"] {
    display: none;
}

.subir-vacina {
    border: 1px solid #ccc;
    display: inline-block;
    width: 299px;
    padding: 10px 12px;
    cursor: pointer;
    background-color: rgba(65, 158, 215, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(65, 158, 215, 1);
    font-size: 24px;
    text-align: left;
}

.subir-vacina img {
    width: 325px;
}

form button {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.img-intra {
    position: absolute;
    width: 299px;
    height: 146px;
    margin: 50px 150px 0 -232px;
}

label[for="prox-vacinacao"] {
    text-align: left;
    text-wrap: nowrap;
    margin-left: -8px;
}

.vacina {
    margin-bottom: 160px;
}


#excluir {
    position: absolute;
    top: 110px;
    left: 89vw;
    display: flex;
    align-items: center;
    background-color: rgba(253, 121, 121, 1);
    border: 1px solid rgba(253, 121, 121, 1);
}

#excluir img {
    width: 28px;
    margin: 3px 10px 3px 0px;
}