body *{
    font-family: Averia Libre;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 91vh;
    width: 100vw;
    background-color: rgba(173, 212, 208, 1);
}

form {
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    gap: 2em;
}

form * {
    display: flex;
}

form div {
    font-family: url("../fonts/AveriaLibre-Regular.ttf");
    gap: 1em;
    white-space: nowrap;
}

form input {
    width: 85%;
    font-family: Averia Libre;
    font-size: 2em;
    border: none;
    font-family: Averia Libre;
    font-size: 36px;
    color: rgba(65, 158, 215, 1);
}


form label {
    font-family: url("../fonts/AveriaLibre-Regular.ttf");
    font-size: 36px;
    font-weight: 400;
    line-height: 42.96px;
    text-align: left;   
    margin-right: 15px;
    color: white;
}


form button {
    width: 188px;
    height: 50px;
    border: 1px solid rgba(55, 189, 109, 1);
    background: rgba(73, 185, 118, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Averia Libre;
    font-size: 24px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login {
    width: 704px;
    height: 51px;
    gap: 0px;
    opacity: 0px;
}

.pass {
    width: 698px;
    height: 51px;
    gap: 0px;
    opacity: 0px;
}
.forgot {
    background-color: transparent;
    border: none;
    position: absolute;
    margin-top: 523px;
    font-size: 2em;
    font-family: Averia Libre;
    font-size: 24px;
    text-align: left;
    text-decoration: underline;
    color: rgba(65, 158, 215, 1);
    box-shadow: none;
    
}

.erro {
    font-size: 24px;
    color: rgba(253, 121, 121, 1);
}
