.popup {
    color: #FD7979;
    border: none;
    font-family: 'Averia Libre';
    width: 698px;
    height: 317px;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.popup p {
    color: rgba(253, 121, 121, 1);
    font-size: 30px;
    text-align: center;
    margin: 70px 0 0 20px
}

.popup button {
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 50px;
    margin: 20px 0 0 90px;


}

.sim {
    background: rgba(253, 121, 121, 1);
    border: solid 1px rgba(253, 121, 121, 1);
}


.opcoes {
    display: flex;
    margin: 20px 0;
    position: absolute;
}


dialog {
    border: none;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}