main {
    height: 91vh;
    width: 100vw;
    background-color: rgba(173, 212, 208, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

form div,
form {
    display: flex;
    align-items: center;
    justify-content: center;
}

label[for="email"] {
    min-width: fit-content;
}

form {
    margin: 0;
}

form button {
    margin-top: 50px;
    width: fit-content;
}

.erro {
    position: fixed;
    margin-left: -119px;
    text-align: center;
}